* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}


.container h1 {
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
}

.container p {
    color: white;
    margin: 10px;
    text-align: center;
}

.team {
    text-align: center;
    padding: 30px 0px;
    font-size: 34px;
}

.container-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    flex-direction: column ;
}

/* Media Query for Tablets Ipads portrait mode */
@media screen and (min-width: 768px){
    .team{
        font-size: 50px;
        padding: 40px 10px;
    }
}

/* laptop */
@media screen and (min-width: 1024px) {
    .container {
        height: 250px;
    }

    .team {
        font-size: 55px;
    }

    .container-images {
        flex-direction: row;
    }
}